header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0; 
    display: inline;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 30px;
    margin: 0;
    box-shadow: 0 0 10px #777777;
}

.title {
    display: inline;
    background-color: #4aaaa5;
    height: 40px;
    color: #ffffff;
    padding: 30px;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 20%;
}

ul {
    position: fixed;
    top: 20px;
    right: 15%;
}

li {    
    float: right;
    display: block;
    margin: 10px 20px;   
}

a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    color: #777777;
}

a:hover {
    text-decoration: underline;
    color: #777777;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    margin: 0 auto;
    color: #777777;
    background-color: #ffffff;
    background-image: url("../images/light_honeycomb.png");
    background-repeat: repeat; 
}

h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px; 
    color: #4aaaa5;
    margin: 20px 0;
}

.content {
    background-color: #ffffff;
    padding: 20px;
    margin: 135px auto;
}

.container {
    box-shadow: 0 0 5px #777777;
}

.headshot {
    float: left;
    width: 200px;
    margin: 0 10px auto auto;
    border-radius: 4px;
}

footer {
    background-color: #666666;
    text-align: center;
    border-top: 10px solid #4aaaa5;
    padding: 15px 0;
    margin: 20;
    height: 30px;
    width: 100%;
    color: #9e9e9e;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 5px #777777;
}

/* Contact Form Styling */
form {
    margin: 10px;
}

input {
    width: 100%;
    padding: 5px 5px;
    margin: 10px 0;
}
 .submit {
     color: #ffffff;
     background-color: #4aaaa5;
     width: 80px;
     height: 30px;
 }

 .text-field {
     padding: 0 0 75px 0;
     width: 100%;
 }

/* Portfolio Styling     */
.image {
    float: left;
    width: 400px;
    margin: 10px;
    border-radius: 4px;
}

.wrapper {
    position: static;
    min-height: 740px;
}

.wrapper p {
    position: relative;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    height: 30px;
    line-height: 30px; 
    width: 400px;
    margin: 0 auto;
    display: inline-block;    
}

.photography {
    top: 170px;
    left: -410px;
}

.rpg {
    top: -50px;
    left: 10px;
}

.trivia {
    top: 140px;
    left: -410px;
}
 
.rutgers {
    top: -50px;
    left: 10px;
}

.rock {
    top: 140px;
    left: -410px;
} 